.portada {
    background: rgb(0, 0, 0);
    color: #fff;
    font-family: 'DRagonlord';
    font-style: normal;
    font-weight: 500;
}

.cuerpo1{
    background-color: #000;
}

.otros {
    position: relative;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.presentacion {
    background: #000;
    font-size: 220px;
    text-align: center;
    font-weight: 400;
    mix-blend-mode: multiply;
}

.contenido{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.btnE {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: rgb(13, 110, 253);
    border-color: #0d6efd;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  }
  
  .btnE:hover {
    background-color: rgb(11, 94, 215);
    color: white;
  }

  .hexP{
    /* Background */
    background-image:url('../portada.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Estilo de fuente general */
    font-size: 15px;
    line-height: 20px;
    letter-spacing: .3px;
    color: #000;
    margin: 0;
}

.newh1{
    font-family: "DRagonlord";
    font-size: 10rem;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 0.46px;
    color: #ff0000;
    text-shadow: 2px 2px #000000;
    animation-name: titulo-anim;
    animation-duration: 1s;
    animation-direction:alternate-reverse;
    animation-iteration-count: infinite;
}

.newh4{
    font-family: Satisfy, sans-serif;
    font-size: 2rem;
}

.inputCard{
    display:block;
    position:relative;
    top: -90px;
    margin-left: 2cm;
    width: 15%;
    min-width: 275px;
    background-color: #ffbdd3;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
}

.inputCard__title{
    text-align: center;
    font-size: 1.3rem;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
}

.inputCard__content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    margin: 20px 18px;
}

.inputCard__content__input--text{
    width: 30%;
    margin: 5px 0;
}

.inputCard__content__input--text input{
    margin-top: 10px;
    width: 15px;
    text-align: center;
}

.inputCard__content__button{
    width: 70%;
    margin: 5px 0;
}

.inputCard__content__button button {
    width: 175px;
    text-align: center;
    padding: 8px;
    color: #FFF;

    cursor: pointer;
    font-size: 16px;

    border-radius: 4px;
    position: relative;
    background-color: rgb(0, 140, 221);
    border: none;
    transition: all 0.5s;
}

.inputCard__content__button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.inputCard__content__button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.nomhexg{
  font-family: 'Texturina', serif;
  font-weight: bold;
  font-size: 20px;  
  color:#3C210C;
}

.hexg{
 background-image:url('./Carta23.jpg');
 text-align: center;
}

.inputCard__content__button:hover span{
    padding-right: 25px;
}

.inputCard__content__button:hover span:after{
    opacity: 1;
    right: 0;
}

.inputCard__content__button--valid{
    border-color: greenyellow;
    background-color: rgba(196, 255, 171, 0.5);
}

.inputCard__content__button--invalid{
    border-color: red;
    background-color: rgba(255, 177, 177, 0.5);
}

.hexagram__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.hexagram__container--chart{
    display:block;
    position:relative;
    top:20px;
    left:25%;
}

div.hexagram__container--table{
  display:block;
  position:relative;
  top:100px;
  left:90px;
}

div.des{
    border: #000;
    font:20px space-around;
    font-family: Satisfy, sans-serif;
    font-size: 36px;
    text-align: center;
    color:#0077ff;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgba(255, 238, 0, 0.651);
    box-shadow: 0px 0px 100px 40px rgba(255, 238, 0, 0.884);
    position: relative;
    animation: titulo-anim2 2s infinite alternate-reverse;
}

div.des:hover{
    animation-name: titulo-anim2;
    animation-duration: 1s;
    animation-direction:alternate-reverse;
  }

.hexagram__container--table--header, th{
    border: 2px solid black;
    background-color: rgb(62, 216, 255);
}

#hexagramTable{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(253, 231, 130);
    border: 2px solid black;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    animation-name: cart;
    animation-duration: 4s;
}

.hexagram__container--table--borderRight{
    border: 2px solid black;
    background-color: rgb(252, 255, 61);
}
.lineaC{
   animation-name: resizer, beat;
   animation-duration: 3s;
}
.linea{
    animation-name: resizer, beat;
    animation-duration: 3s ;
}
.Hexa-td{
    background-image: url('./Carta.jpg');
    background-size: cover;
    padding: 10px; 
}


@keyframes beat {
    20%{
        transform: scale(1);
    }
    0%{
        transform: scale(2);
    }
}
@keyframes cart{
    0% {
        transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
  100% {
        transform: scaleY(1);
        transform: scaleY(1);
  }
}
@keyframes titulo-anim{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }   
}
@keyframes titulo-anim2{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.8);
    }   
}
@keyframes resizer{
    0%{height: 100px;}
    50%{height: 50px;}
    100%{height: 0px;}
}
@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}
@keyframes momo{
    0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}